@CHARSET "ISO-8859-1";
#div_cursos{
	margin:0 auto;
	width:90%;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #FFF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 3px;
	font-size:17px; 
	text-align: center;
}
#btn_go{
	font-size:17px; 
	
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px; /* bottom = footer height */
    padding: 0px;
}

footer {
    background-color: #3399ff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

